* {
    box-sizing: border-box;
}


a {
    text-decoration: underline hsla(217, 79%, 33%, 1);
    text-underline-offset: 20%;
    cursor: pointer;
}

a.logo {
    font-weight: 600;
    font-size: 34px;
    color: #092C86;
}

.navigation {
  min-height: 81px;
  height: auto;
  padding: 0px;
}

ul {
  display: inline-block;
  position: relative;
  top: 19px;
  margin: 0px auto;
}

.nav-link {
    text-decoration-line: none;
    vertical-align: middle;
  }

.nav-link:hover {
    color:hsla(217, 79%, 33%, 1);
    text-decoration: underline hsla(217, 79%, 33%, 1);
    text-underline-offset: 20%;
    font-weight: 500;
 }

 .logo {
    text-decoration: none;
 }

 .description a {
    color:hsla(217, 79%, 33%, 1);
    text-decoration: underline hsla(217, 79%, 33%, 1);
    text-underline-offset: 20%;
    font-weight: 500;  
    cursor: pointer;
 }

 .description a:hover {
    color:hsla(230, 85%, 50%, 1);
}

 a.logo:hover {
    font-size: 34px;
    font-weight: 900;
    text-decoration: underline;
 }

 h1 {
    position: relative;
    top: 33px;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 200;
    font-size: 60px;
    line-height: 70px;
    text-align: center;
    letter-spacing: 2px;
    text-transform: uppercase;
    z-index: 100;
    
    /* White */
    
    color: #FAFBFF;
    
    text-shadow: 0px 2px 4px rgba(0, 0, 0, 0.55);
 }

 .banner {
  position: relative;
  top: 81px;
  text-align: center;
  max-width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
}

.banner-text {
  z-index: 10;
  position: relative;
  top: 105px;
}

 .banner h2{
    width: 415px;
    margin: 0px auto;
    
    font-family: 'Amatic SC';
    font-style: normal;
    font-weight: 700;
    font-size: 120px;
    line-height: 151px;
    /* display: flex;
    align-items: center; */
    text-align: center;
    text-transform: uppercase;
    
    /* Primary */    
    background: radial-gradient(323.84% 399.78% at 29.9% -68.21%, #2B90B0 0%, #092C86 82.33%);
    -webkit-text-fill-color: transparent;
    background-clip: text;
    
    text-shadow: 0px 2px 5px rgba(0, 0, 0, 0.35);
  }

  .content-overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 80px;
    
    background: rgba(250, 251, 255, 0.17);
    background-blend-mode: screen;    
  }

  .content {
    padding-top:80px;
    padding-bottom: 0px;
    border-bottom: 0px;
  }

  
  .content h2 {
    text-align: left;
    margin-left: 14.3%;
    margin-bottom: 16px;
    
    font-family: Raleway;
    font-weight: 600;
    font-size: 40px;
    line-height: 42px;
    
    background: radial-gradient(323.84% 399.78% at 29.9% -68.21%, #2B90B0 0%, #092C86 82.33%);
    -webkit-text-fill-color: transparent;
    background-clip: text;
  }
  
  .description {
    position: relative;
    z-index: 50;
  }

  .description p {
    margin-top: 0px;
    margin-bottom: 64px;
  }

  .img-overlay{
    /* img-overlay */
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0px;

    background: rgba(255, 255, 255, 0.24);
    background-blend-mode: screen;    
  }

  .btn {
    display: inline-block;
    padding: 14px 12px;
    margin: 20px auto 0px;

    /* Font */
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 17.61px;
    text-align: center;
    text-decoration: none;
    color: #373B43;

    /* Button Background */
    background: #FAFBFF;
    border: 1px solid #B7BDCD;
    box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.25);
    border-radius: 6px;    
  }

  .btn:hover {  
    /* Get on the mountain */
    display:inline-block;
    padding: 14px 12px;
    margin: 20px auto 0px;
   
    /* Font */ 
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 17.61px;
    text-align: center;
    color: #FAFBFF;

    /* Button Background */
    background: radial-gradient(323.84% 399.78% at 29.9% -68.21%, #2B90B0 0%, #092C86 82.33%);
    border: 1px solid #13151B;
    box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.4);
    border-radius: 6px;
  }

  .btn:active {  
    /* Get on the mountain */
    display:inline-block;
    padding: 14px 12px;
    margin: 20px auto 0px;
   
    /* Font */ 
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 17.61px;
    text-align: center;
    color: #FAFBFF;

    /* Button Background */
    background: radial-gradient(112.95% 1972.88% at 104.82% -84.21%, #2B90B0 0%, #092C86 82.33%);
    box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 6px;
  }

  .activities-panel {
    margin-left: 14.3%;
    width: 70%;
  }

  .activities-panel h2 {
    text-align: left;
    margin-bottom: 16px;
    
    font-family: Raleway;
    font-weight: 600;
    font-size: 40px;
    line-height: 42px;
    
    background: radial-gradient(323.84% 399.78% at 29.9% -68.21%, #2B90B0 0%, #092C86 82.33%);
    -webkit-text-fill-color: transparent;
    background-clip: text;
  }

  .activity {
    text-decoration: none;
    margin: 0px;
    position: relative;

    filter: drop-shadow(0px 4px 6px rgba(0, 0, 0, 0.45));

    /* Typography */
    font-family: 'Amatic SC';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 256px;
    color: #FAFBFF;
    text-shadow: 0px 4px 6px rgba(0, 0, 0, 0.54);
    border-radius: 6px;
  }

  .skiing, .snowboarding, 
  .shoeing, .dogsledding, 
  .tubing, .sledding {
    width: 383px;
    height: 256px;
    position: relative;
    margin: 8px;
  }
  
  .skiing::before,
  .snowboarding::before,
  .shoeing::before,
  .dogsledding::before,
  .tubing::before,
  .sledding::before {    
    content: "";
    background-size: contain;
    filter: drop-shadow(0px 4px 6px rgba(0, 0, 0, 0.35));     
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    opacity: 0.45;
    border-radius: 6px;
  }
  .skiing::before {
    background-image: url("./img/skiing.jpeg");
  }
  .snowboarding::before {
    background-image: url("./img/snowboarding.jpeg");
  }
  .shoeing::before {
    background-image: url("./img/snowshoeing.jpeg");
    background-size:cover;
  }
  .dogsledding::before {
    background-image: url("./img/dogsledding.jpeg");
  }
  .tubing::before {
    background-image: url("./img/tubing.jpeg");
  }
  .sledding::before {
    background-image: url("./img/sledding.webp");
    background-size:cover;
  }

  .footer {
    background-color: #092C86;
  }